workflow.json
{
  "name": "Week 4 - Model Comparison",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "a9b71a71-4f18-4edd-9b3f-57cde0bca1e7",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appAAseObUufXIg3o",
          "mode": "list",
          "cachedResultName": "Week 4 Model Comparison",
          "cachedResultUrl": "https://airtable.com/appAAseObUufXIg3o"
        },
        "table": {
          "__rl": true,
          "value": "tblajKHciH8VSHBgV",
          "mode": "list",
          "cachedResultName": "Test Results",
          "cachedResultUrl": "https://airtable.com/appAAseObUufXIg3o/tblajKHciH8VSHBgV"
        },
        "filterByFormula": "={input_text} != \"\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "2ac25546-332f-4059-a1c4-2aff696aeeea",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "gqm2wT8a16UiGQFy",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "7a8296d4-c5c1-4362-946a-7562b35f8a91",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        -672
      ],
      "id": "fceeb97d-6d12-4934-95ba-12352475a541",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"inputs\": \"{{ $json.input_text }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        16
      ],
      "id": "df986601-ccc1-40dd-b32b-516dba96c6bd",
      "name": "HF Sentiment",
      "credentials": {
        "httpHeaderAuth": {
          "id": "C9ePysuZyqvkqr3K",
          "name": "Hugging Face API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ffe21fd6-f726-4b23-9956-a87439ac162f",
              "name": "sentiment_label",
              "value": "={{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "10d36b96-df14-4790-ab9b-3591096de909",
              "name": "=sentiment_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            },
            {
              "id": "a7935840-2fdb-4c35-88a2-bcc5ee67119c",
              "name": "input_text",
              "value": "={{ $('Search records').item.json.input_text }}",
              "type": "string"
            },
            {
              "id": "f858c905-8635-4ec6-8275-3f937acf4b0d",
              "name": "record_id",
              "value": "={{ $('Search records').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        16
      ],
      "id": "f17e2f19-77e0-4f45-9afb-94ff4ea47cf6",
      "name": "Extract Se"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/facebook/bart-large-mnli",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"inputs\": \"{{ $json.input_text }}\",\"parameters\":{\"candidate_labels\":\n[\"critical threat\",\"routine activity\",\"possible anomaly\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        208
      ],
      "id": "4aa2b001-ff22-4e8e-80bf-441fa1308671",
      "name": "HF Zero-Shot",
      "credentials": {
        "httpHeaderAuth": {
          "id": "C9ePysuZyqvkqr3K",
          "name": "Hugging Face API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08637129-ce94-4294-b3eb-b12e61888f90",
              "name": "zeroshot_label",
              "value": "={{ $json.label }}",
              "type": "string"
            },
            {
              "id": "a71444f2-e038-4007-8fce-ec42629097ce",
              "name": "zeroshot_score",
              "value": "={{ $json.score }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        208
      ],
      "id": "589b9c6c-ed95-4789-b380-95c9cefa5ed5",
      "name": "Extract Zero Shot"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/dslim/bert-large-NER",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n \"inputs\": \"{{ $json.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        400
      ],
      "id": "63ed41df-88db-40b6-af5b-0b3561f93b8b",
      "name": "HF NER",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "C9ePysuZyqvkqr3K",
          "name": "Hugging Face API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f31ab91-5bdf-4add-96c7-61a84780ec78",
              "name": "ner_entities",
              "value": "={{ JSON.stringify($json) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        400
      ],
      "id": "761bdcb2-16d3-4452-abe4-9e6fb0c92116",
      "name": "Extract NER"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"model\":\"llama-3.1-8b-instant\",\"messages\":[{\"role\":\"system\",\"content\":\"You are a security analyst. Classify as: CRITICAL, HIGH, MEDIUM, LOW, or INFORMATIONAL with one sentence reasoning.\"},{\"role\":\"user\",\"content\":\"{{ $json.input_text }}\"}],\"max_tokens\":100}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        928,
        592
      ],
      "id": "b875fd45-bd87-42fc-9794-0389eb8b795f",
      "name": "Groq",
      "credentials": {
        "httpHeaderAuth": {
          "id": "dajzbCfR52K3vCvN",
          "name": "Groq API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ae63ce8-8c12-4e2e-8b9e-30b6662bceb1",
              "name": "groq_classification",
              "value": "={{ $json.choices[0].message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        592
      ],
      "id": "bee39edc-c154-4c95-bad6-81e7e3fb4887",
      "name": "Extract Groq"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1520,
        256
      ],
      "id": "e05c5d2e-b738-4498-8e48-7c0cd6618319",
      "name": "Merge",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appAAseObUufXIg3o",
          "mode": "list",
          "cachedResultName": "Week 4 Model Comparison",
          "cachedResultUrl": "https://airtable.com/appAAseObUufXIg3o"
        },
        "table": {
          "__rl": true,
          "value": "tblajKHciH8VSHBgV",
          "mode": "list",
          "cachedResultName": "Test Results",
          "cachedResultUrl": "https://airtable.com/appAAseObUufXIg3o/tblajKHciH8VSHBgV"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.record_id }}",
            "model_1_sentiment_label ": "={{ $json.sentiment_label }}",
            "model_1_sentiment_score": "={{ $json.sentiment_score }}",
            "model_2_zeroshot_label": "={{ $json.zeroshot_label }}",
            "model_2_zeroshot_score": "={{ $json.zeroshot_score }}",
            "model_3_ner_entities": "={{ $json.ner_entities }}",
            "model_4_groq_classification": "={{ $json.groq_classification }}",
            "tested_at": "2026-03-22T18:56:05"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_1_sentiment_label ",
              "displayName": "model_1_sentiment_label ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_1_sentiment_score",
              "displayName": "model_1_sentiment_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_2_zeroshot_label",
              "displayName": "model_2_zeroshot_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_2_zeroshot_score",
              "displayName": "model_2_zeroshot_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_3_ner_entities",
              "displayName": "model_3_ner_entities",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "model_4_groq_classification",
              "displayName": "model_4_groq_classification",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tested_at",
              "displayName": "tested_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1712,
        688
      ],
      "id": "edc65476-4c39-4be0-89f8-5da1c925c6e9",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "gqm2wT8a16UiGQFy",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HF Sentiment",
            "type": "main",
            "index": 0
          },
          {
            "node": "HF Zero-Shot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Groq",
            "type": "main",
            "index": 0
          },
          {
            "node": "HF NER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF Sentiment": {
      "main": [
        [
          {
            "node": "Extract Se",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF Zero-Shot": {
      "main": [
        [
          {
            "node": "Extract Zero Shot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HF NER": {
      "main": [
        [
          {
            "node": "Extract NER",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq": {
      "main": [
        [
          {
            "node": "Extract Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Groq": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Extract Se": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Zero Shot": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract NER": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0b2c8a23-83fc-47d2-b134-c235a90b59d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a69ec37954977b88a479ebfa185a30fc778ae1a13872bdbe9e26e7b8edafd875"
  },
  "id": "O9QgzF3DWDLxwKOr",
  "tags": []
}
